
body {
	margin: 0 auto;
	padding: 0;
	background: #eee;
//	color:#444;	
}

/* Elements getting a dropcap */
p.question:first-letter, 
.letter p:first-letter
{
	float: left;
	font-size: 3.45em;
	line-height: 1;
//	font-weight: bold;
//	margin-top: 7px;
	margin-right: 3px;
	font-style:normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight:normal;
	line-height:1.4em;
	color:48431d;
}

p, ul, ol, blockquote {
	line-height: 180%;
}

h2
{
	font-size:20px;
	margin:0 0 0 0;
}

h3
{
	font-size:16px;
	margin:0 0 0 0;
}

h4 
{
	font-size:1.2em;
	text-transform:uppercase;
	border-bottom:#ccc 1px solid;
	margin:1em 0 0.5em 0;
}

h5 
{
	font-size:1.1em;
	font-style:italic;
	margin:1em 0 0.5em 0;
}

blockquote 
{
	background:url(images/blockquote.gif) no-repeat left top;
	margin:1em;
	padding:0 0 0 4em;
	color:#666;
	font-style:italic;
}
img 
{
	padding:0px;
	border:none;

}
img.left 
{
	float:left;
	margin:0 1em 1em 0;
}
img.right 
{
	float:right;
	margin:0 0 1em 1em;
}
a:link {
	color: #1f1fb5; 
	text-decoration:none;
	
}

a:visited 
{
	color:purple;
	text-decoration: none;
	border-bottom:#48431d 1px dotted;
}

a[href]:hover, a:active
{
	color:blue;
	text-decoration: none;
	border-bottom:blue 1px solid;
}

.clear
{
	clear:both;
}

#main .feed 
{
	#background:url(images/icon_feed.gif) no-repeat left;
	margin:0;
	padding:5px 16px;
}

ul
{
	margin:0;
	padding:0 1em;
}

ol 
{
	margin:0;
	padding:0 3em;
}

#content ul li 
{
	list-style:none;
	background:url(images/bullet.gif) no-repeat left 3px ;
	margin:0;
	padding:0 20px;
}
/* Header */

#header {
	width: 750px;
//	height: 300px;
	margin: 0 auto;
	text-align:center;
	background: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;	
	font-family: modesto, "Palatino Linotype","Book Antiqua",Palatino,serif;
}

#header * {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
}

#header h1 {
	padding: 10px 2px 2px;
	font-size:72pt;
//	font-variant:small-caps;
}

#header h2 {
	padding: 0 10px;
	font-size:1em;
}

/* Content */

#main {
	width: 750px;
	margin: 0 auto;
	height: 100%;
	background: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	font-family: calluna, "Times New Roman", Times, serif;
}

#content {
	float: right;
	width: 550px;
	padding: 20px 15px;
//	background: url(images/ncsewatermark.jpg) no-repeat right top;	
}

#sidebar 
{
	font-size:0.9em;
	float: left;
	width: 149px;	
	padding: 10px;		
}

#signature
{
	margin-left:50%;
	width:200px;
	font-size:2em;
	text-align:center;
}

#signature p
{
	margin-bottom:0;
}

.question
{
	font-style:italic;
	margin-left:-1em;
}

p.question + p
{
	clear:left;
}

/* .question:before{
	content:"Q ";
}*/

.signer
{
	position:relative;
	height:auto;
	width:160px;
	margin: 0 .5em .5em 0;
	padding: .5em;
	float:left;
	font-size:.85em;
	-moz-box-shadow: 2px 2px 6px -1px #888;
	-webkit-box-shadow: 2px 2px 6px -1px #888;
	box-shadow: 2px 2px 6px -1px #888;
	background:-webkit-gradient( linear, left top, right bottom, color-stop(0.05, #fff), color-stop(1, #eee) );
	background:-moz-linear-gradient( -80deg, #fff 5%, #eee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee',GradientType=0);
	background-color:#eee;
	background: linear-gradient(100deg, #fff 5%, #eee 100%);
	background: -webkit-linear-gradient(-80deg, #fff 5%,#eee 100%);
	background: -o-linear-gradient(-80deg, #fff 5%, #eee 100%);
	background: -ms-linear-gradient(-80deg, #fff 5%, #eee 100%);
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	border:1px solid #000;
	color:#2b002b;
}


/* Content > sidebar */
#sidebar h2 
{
	font-size:1.4em;
	font-variant: small-caps;
	border-bottom:#ccc 1px solid;
	margin:1em 0 0.5em 0;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar form, #sidebar table, #sidebar p, #sidebar ul ul
{
	padding-left:1em;
	margin:0.5em 0;
}
#sidebar li {
	margin: 5px 0;
	padding:0;
}
#sidebar li li 
{
	margin:10px 0;
}

/* Footer */

#footer {
	width: 630px;
	margin: 0 auto;
	background: ##efefef;
	color:#444;
	padding:0px;
	text-align:center;
}

#footer p {
	margin: 0;
	padding:0;	
}
#footer p.credits 
{
	font-size:0.9em;
}
#footer * 
{
	color:#444;
}
#footer a:hover 
{
	border-bottom:#fff 1px solid;
}

img.logo {
	padding: 0px 0px 0px 25px;
}

img.typekit-badge{
	opacity:0;
}